.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-image: url(../../assets/king-bg.webp);
  background-size: cover;
  border: 1px solid red;
  border-radius: 24px;
// TODO  backdrop-filter: brightness(80%);
}
.card {
  max-width: 450px;
}
