
.progressBars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  top: 16px;
  width: 95%;
  transform: translate(-50%);
  z-index: 2;
}

.progressBar {
  flex: 1;
  margin: 0 2px;
  background: #909090;
  height: 2px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress {
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
}

.watchedBar {
  background: #fff;
  width: 100%;
}
