.controls {
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 2;
  button {
    cursor: pointer;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.3s ease;
    svg{
        vertical-align: middle
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
