.formBg {
  padding: 20px;
  background: #1b1b21;
  border-radius: 16px;
  text-align: center;
  max-width: 1130px;
  margin: 0 auto ;

  p{
    color: #848487;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: space-between;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    border: 1px solid #9a9ad4;
  }
}

.cardImg,
input {
  background-color: #323236;
  color: #e3e3e3;
  outline: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  border: 1px solid #46464b;
  border-radius: 16px;
  transition: border, background-color 0.3s ease;
}

.cardImg {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 40px;
  flex: 1;
  &:hover {
    background-color: #404045;
  }
}

.Input {
  margin-top: 12px;
  flex: 1;
  input {
    width: 100%;
    padding: 20px;
  }
  input::placeholder {
    color: #848487;
  }
  input:focus {
    border: 1px solid #9a9ad4;
  }
}
