.formBg {
  padding: 20px;
  background: #1b1b21;
  border-radius: 16px;
  text-align: center;
  max-width: 1130px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 760px) {
    text-align: left;
  }

  &>p {
    color: #848487;

    @media (max-width: 500px) {
      max-width: 150px;
    }
  }
}

.controls {
  position: absolute;
  top: 16px;
  right: 24px;

  @media (max-width: 500px) {
    top: 36px;
  }

  button {
    font-size: 14px;
    border-radius: 10px;
  }
}

.disBtn {
  cursor: pointer;
  color: var(--white);
  border-radius: 12px;
  border: 1px solid transparent;
  font-family: inherit;
  padding: 0.7em 1.2em;
  background-color: #49494e;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  margin-right: 12px;
}