.card {
  max-height: 96px;
  place-items: center;
  border-radius: 16px 16px 10px 10px;
  background-color: #f8f8fe;
  color: var(--background);
  padding: 16px;
  display: flex;
  gap: 19px;
  font-size: 19px;
  p {
    margin: 0;
  }
  img {
    max-width: 64px;
  }
}
