.nav{
    border:1px solid #fff;
    display: flex;
    place-items: center;
    justify-content: space-between;
}
.ul{
    display: flex;
    gap: 32px;
}
.contacts{
    gap: 16px;
    display: flex;
    .socials{
        display: flex;
        gap: 8px;
        place-items: center;
    }
}