.header {
  nav {
    display: flex;
    place-items: center;
    justify-content: space-between;
    gap: 20px;
    background: linear-gradient(180deg, #000 -95%, transparent 100%);

    button {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.53px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }
  .ul {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    min-width: 630px;
    max-width: 1000px;
  }
  .contacts {
    gap: 16px;
    display: flex;
    .socials {
      display: flex;
      gap: 8px;
      place-items: center;
    }
  }
  .link {
    opacity: 0.5;
  }
}
