.header{
    text-align: center;
    margin-bottom: 95px;
    h4{
        color: #98FFE0;
        margin-bottom: 24px;
    }
}


.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    border: 1px solid #9a9ad4;
  }
}

.cardImg,
input, .card {
  background-color: #323236;
  color: #e3e3e3;
  outline: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  border: 1px solid #46464b;
  border-radius: 16px;
  transition: border, background-color 0.3s ease;
}

.cardImg, .card {
padding: 20px;
  cursor: pointer;
  p{
    margin: 0;
  }
  &:hover {
    background-color: #404045;
  }
}

.cardImg{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1;
}


.card{

}

.Input {
  margin-top: 12px;
  flex: 1;
  input {
    width: 100%;
    padding: 20px;
  }
  input::placeholder {
    color: #848487;
  }
  input:focus {
    border: 1px solid #9a9ad4;
  }
}