.main {
  position: relative;

  .title {
    text-align: center;
    margin: 0 auto;
    margin-block: 130px 160px;
    max-width: 920px;
    p {
      color: #ff98b1;
    }
    h1 {
      margin-bottom: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 200vh;
      top: 0%;
      z-index: -1;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(rgba(49, 46, 233, 0.25), #000);
    }
  }

  &::after {
    content: "";
    display: block;
    height: 350px;
    pointer-events: none;
    position: absolute;
    bottom: -1px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 55.01%);
  }
}

.img {
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
}
