.header{
    margin-bottom: 95px;
    h4{
        color: #98FFE0;
        margin-bottom: 24px;
    }
    h2{
        max-width: 670px;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    & > div:first-child{
        grid-row: 1 / 3;
    }
    div:not(:first-child) {
  height: 335px;
}

}

