.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .bubble {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titleWrap {
    text-align: center;
    width: 200px;
    p{
        font-size: 14px;
    }
  }
}
