:root{
    --white: #fff;
    --pink:#FF98B1;
    --accent:#312EE9;
    --background:#000;
    --bg-shadow:#312ee940;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  font-weight: 400;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: 1.5;
    color:var(--white);
    background-color: var(--background);
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

img {
    display: block;
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    color:var(--white);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 5rem;

}

.btn {
background: var(--accent);
padding: 0.6rem 1.2rem;
color: var(--white);
border-radius: 0.5rem;
border: 1px solid transparent;
font-size: 1.1rem;
transition: all 0.3s ease;
font-family: inherit;
cursor: pointer;
box-shadow: 0px 15px 64px 0px var(--bg-shadow);
}