@font-face {
  font-family: "Suisse";
  src: url(fonts/SuisseIntl-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Suisse";
  src: url(fonts/SuisseIntl-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Suisse";
  src: url(fonts/SuisseIntl-Ultralight.otf);
  font-weight: 100;
}

:root {
  --white: #fff;
  --pink: #ff98b1;
  --accent: #312ee9;
  --background: #000;
  --bg-shadow: #312ee940;

  font-family: "Suisse", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
a,
ul,
div,
aside,
input,
select,
button {
  box-sizing: border-box;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.inactive {
  opacity: 0.5;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1.5;
  color: var(--white);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-inline: 40px;
  @media (max-width: 768px) {
    padding-inline: 24px;
  }
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  object-fit: contain;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1;
  @media (max-width: 1105px) {
    font-size: 56px;
  }
}
h2 {
  font-size: 56px;
  line-height: 61.6px;
  letter-spacing: -0.015em;
  @media (max-width: 1105px) {
    font-size: 40px;
  }
}
h3 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.015em;
  @media (max-width: 1105px) {
    font-size: 32px;
  }
}
h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -0.005em;
  @media (max-width: 1105px) {
    font-size: 20px;
  }
}
h5 {
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: -0.02em;
}
p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  @media (max-width: 1105px) {
    font-size: 16px;
  }
}
.CaptionL {
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.005em;
  text-align: center;
  @media (max-width: 1105px) {
    font-size: 20px;
  }
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 5rem;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--accent);
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: 20px;
  font-family: inherit;
  font-weight: 300;
  padding: 0.7em 1.2em;
  box-shadow: 0px 15px 64px 0px var(--bg-shadow);
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.btn--modified {
  width: 100%;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 10px 10px 24px 24px;
  box-shadow: 0px 15px 64px 0px rgba(49, 46, 233, 0.25);
}
#root {
  display: grid;
  gap: 130px;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.53px;
  letter-spacing: -0.02em;
  text-align: left;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  @media (max-width: 1140px) {
    height: 800px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media (max-width: 1140px) {
    height: 800px;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.ReactModal__Body--open {
  overflow: hidden;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #939393;
}
ul::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
}
ul::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


