:root {
  --white: #fff;
  --pink: #ff98b1;
  --accent: #312ee9;
  --background: #000;
  --bg-shadow: #312ee940;

  font-family:"Suisse Intl", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.inactive {
  opacity: 0.5;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1.5;
  color: var(--white);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-inline: 40px;
}

img {
  display: block;
  object-fit: contain;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 56px;
  line-height: 61.6px;
  letter-spacing: -0.015em;
}
h3 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.015em;
}
h4 {
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -0.005em;
}
h5 {
  font-size: 19px;
  line-height: 26.6px;
  letter-spacing: -0.02em;
}
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 5rem;
}

.btn {
  background: var(--accent);
  padding: 0.6rem 1.2rem;
  color: var(--white);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0px 15px 64px 0px var(--bg-shadow);
}
