.slide {
  position: relative;
  aside {
    left: 40px;
    top: 50%;
    height: 90%;
    transform: translate(0, -48%);
    position: absolute;
    @media (max-width: 1140px) {
      transform: none;
      left: 0;
      bottom: 0;
      top: auto;
      max-width: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 2;
    }
  }
  .img {
    width: 100%;
  }
}
