.slide {
    position: relative;
    aside{
        left: 40px;
        top: 50%;
        height: 90%;
        transform: translate(0, -48%);
        position: absolute;
    }
  .img {
    width: 100%;
  }
}
