.accordion{
  margin: 16px;
  padding: 16px;
}
.item {
  margin-bottom: 16px;
}
.header {
  position: relative;
//   width: 100%;
  padding: 16px;
  text-align: left;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  color: #e3e3e3;
  outline: none;
  border: 1px solid #46464b;
  border-radius: 12px;
  h5{
  margin-bottom: 16px;

  }
}

.body {
  font-size: 14px;
  color: #A8A8AA;
  padding-top: 16px;
}

.collapse {
  height: 0;
  overflow: hidden;
  border-top: 1px solid #404040;
  transition: height 0.3s;
}

.btn{
  margin-top: 16px;
}
.disabledBtn{
  background-color: #53525B !important;
  box-shadow: none !important;
}